@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}
.logo-hp {
  background: linear-gradient(
    to right,
    rgba(161, 0, 218, 1) 0%,
    rgba(174, 18, 228, 0.84) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
